body{
	background-color: #000000;
	padding-top: 17px;
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'HelveticaNeueLTPro-BdCn';
	src:url('../fonts/HelveticaNeueLTPro-BdCn.otf');
	
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'DINNextLTPro-Light';
	src:url('../fonts/DINNextLTPro-Light.otf');
	
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Century Gothic';
	src:url('../fonts/Century Gothic.ttf');
	
}
h3 {
  font-family: 'DINNextLTPro-Light',arial;
  font-size: 25px;
  font-weight: lighter;
  text-align: left;
  direction: ltr;
  color: #cb972b;
  padding-bottom: 25px;
}
h5 {
	font-family: 'HelveticaNeueLTPro-BdCn',arial;
    font-size:14px;
    direction:ltr;
    color:#dcc177;
    outline: 0;
}
h5:hover,
h5:focus{
 	color:#946840;
 	outline: 0;
}

h2 a {
	color: #34245c;
	font-size: 10pt;
	font-family: arial;
	text-decoration: none;
}
h2 a:hover {
	text-decoration: none;
	color:#a23a82;
}
a {
	text-decoration:none;
	color:#34245c;
    direction: ltr;
    font-family: arial;
    font-size: 15px;
    outline: 0;
}
a:hover,
a:focus {
	text-decoration:none;
	color:#a23a82;
	outline: 0;
}
p {
	  font-family: "Century Gothic", arial;
	  font-size: 12px;
	  font-weight: normal;
	  color: #808080;
	  margin-top: 5px;
	  line-height: 16px;
	  text-align: justify;
	  direction: ltr;
}
.line{
	padding:10px;
    border-bottom: 1px solid #ddc177;
    margin-left: 25px;
    margin-right: 21px;
}
.line_up{
	padding:10px;
    border-bottom: 1px solid #ddc177;
    margin-left: 25px;
    margin-right: 21px;
    margin-bottom: 5px;
}
.line_down{
	
    border-bottom: 1px solid #ddc177;
    margin-left: 25px;
    margin-right: 21px;
    margin-top: -20px;
}
.line2{
	padding:10px;
    border-bottom: 1px solid #ddc177;
    margin-left: 25px;
    margin-right: 15px;
}
.vertical-line{
	border-left: 1px solid #ddc177;
	
	  
}

.vertical-line2{
	border-left: 1px solid #ddc177;
	
}
.view {
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   
}
.header_position{
	  margin-left: -16px;
  	  margin-right: -9px;
}

.view .mask,.view .content {
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.news{
	margin-left: 17px;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   background: rgba(0, 0, 0, 0.8);
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
.view-second img {
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   -o-transition: all 0.2s ease-in;
   -ms-transition: all 0.2s ease-in;
   transition: all 0.2s ease-in;
}
.view-second .mask {
   background-color: rgba(138,99,70, 0.7);
   width: 460px;
   height: 460px;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: translate(265px, 145px) rotate(45deg);
   -moz-transform: translate(265px, 145px) rotate(45deg);
   -o-transform: translate(265px, 145px) rotate(45deg);
   -ms-transform: translate(265px, 145px) rotate(45deg);
   transform: translate(265px, 145px) rotate(45deg);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-second h2 {
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
   background: transparent;
   margin: 20px 40px 0px 40px;
   -webkit-transform: translate(200px, -200px);
   -moz-transform: translate(200px, -200px);
   -o-transform: translate(200px, -200px);
   -ms-transform: translate(200px, -200px);
   transform: translate(200px, -200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-second p {
   -webkit-transform: translate(-200px, 200px);
   -moz-transform: translate(-200px, 200px);
   -o-transform: translate(-200px, 200px);
   -ms-transform: translate(-200px, 200px);
   transform: translate(-200px, 200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-second a.info {
   -webkit-transform: translate(0px, 100px);
   -moz-transform: translate(0px, 100px);
   -o-transform: translate(0px, 100px);
   -ms-transform: translate(0px, 100px);
   transform: translate(0px, 100px);
   -webkit-transition: all 0.2s 0.1s ease-in-out;
   -moz-transition: all 0.2s 0.1s ease-in-out;
   -o-transition: all 0.2s 0.1s ease-in-out;
   -ms-transition: all 0.2s 0.1s ease-in-out;
   transition: all 0.2s 0.1s ease-in-out;
}
.view-second:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translate(-80px, -125px) rotate(45deg);
   -moz-transform: translate(-80px, -125px) rotate(45deg);
   -o-transform: translate(-80px, -125px) rotate(45deg);
   -ms-transform: translate(-80px, -125px) rotate(45deg);
   transform: translate(-80px, -125px) rotate(45deg);
}
.view-second:hover h2 {
   -webkit-transform: translate(0px,0px);
   -moz-transform: translate(0px,0px);
   -o-transform: translate(0px,0px);
   -ms-transform: translate(0px,0px);
   transform: translate(0px,0px);
   -webkit-transition-delay: 0.3s;
   -moz-transition-delay: 0.3s;
   -o-transition-delay: 0.3s;
   -ms-transition-delay: 0.3s;
   transition-delay: 0.3s;
}
.view-second:hover p {
   -webkit-transform: translate(0px,0px);
   -moz-transform: translate(0px,0px);
   -o-transform: translate(0px,0px);
   -ms-transform: translate(0px,0px);
   transform: translate(0px,0px);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}
.view-second:hover a.info {
   -webkit-transform: translate(0px,0px);
   -moz-transform: translate(0px,0px);
   -o-transform: translate(0px,0px);
   -ms-transform: translate(0px,0px);
   transform: translate(0px,0px);
   -webkit-transition-delay: 0.5s;
   -moz-transition-delay: 0.5s;
   -o-transition-delay: 0.5s;
   -ms-transition-delay: 0.5s;
   transition-delay: 0.5s;
}
.img-position{
	margin-top: 4px;
}		
.Home_Articles_More  {
	margin-top: 0px;
	line-height: 5em;
	text-align:right;
}
.Home_Articles_More a  {
	font-family: "Century Gothic",arial;
    font-size:11px;
	font-weight:normal;
    color:#d0b671;
    line-height:18px;
	text-align: right; 
	direction:ltr;
}
.buttomLinks , a.buttomLinks:hover { 
	float: left; 
	width: auto; 
	height:15px; 
	padding: 0px 20px; 
	color:#fff3f5; 
	font-size: 12px 
}
.fotter {
    margin: 0 auto; 
	color: #fff3f5;
	font-family: arial; 
	font-size: 11px;
	line-height: 4.5em;
	word-wrap: break-word;
	padding-top: 5px; 
	padding-bottom: 0px;
	border:#F00 0px solid;
}

.nav a {
  display: block;
  color: #77797b;
  font: 14px/22px 'DINNextLTPro-Light',verdana;
  text-decoration: none;
  text-align: center;
}

nav.navbar ul.nav a:hover {
    color: #70623d ; 
}

.brand{
	display: block;
  color: #77797b;
  font: 14px/22px 'DINNextLTPro-Light',verdana;
  text-decoration: none;
  text-align: center;
}
.navbar{
	background-color: #000000;
	border: none;
}
.dropdown .dropdown-menu{
	background-color: #e9cc7e;
	/*opacity: 0.8;*/
}
.navbar .nav > li.dropdown.open.active > a:hover, 
.navbar .nav > li.dropdown.open > a
{
   color: #5d4e24;
   background-color: #000000;
}
.navbar .navbar-header > a.navbar-brand{
	color: #5d4e24;
}

.navbar .nav > li.dropdown li.divider{
   background-color: #FFFFFF;
   margin-left: 10px;
   margin-right: 10px;
}

.navbar .nav  li.dropdown ul.dropdown-menu > li > a{
   color: #000000;
  
}
.navbar .nav  li.dropdown ul.dropdown-menu > li > a:hover,
.navbar .nav  li.dropdown ul.dropdown-menu > li > a:focus{
   background-color: #e9cc7e;
   font-weight: bold;
   border: none;
   outline: 0;
  
}
.navbar2 .navbar-header2 a.navbar-brand2 {
	color: #00ace7;
	font-family: 'DINNextLTPro-Light',arial;
  	font-size: 20px;
  	padding-right: 65px;
}
.navbar2 ul.nav2 > li > a {
	color: #00ace7;
	font-family: 'DINNextLTPro-Light',arial;
  	font-size: 15px;
  	padding-right: 75px;
}
.footer p{
	color: #ffffff;
	font-weight: bold;
}
.items{
	padding-top: -10px;
}
h3.title_color{
	color: #006fb2;
}
.href_color:hover{
	color: #00609a;
}
.href_color{
	color: #FFFFFF;
}
.input_style{
	  border-radius: 0px;
  	  height: 22px;
  	  /*font-family: 'DINNextLTPro-Light',arial;*/
}
.btn_style{
	  width: 26px;
	  height: 22px;
}
table{
	align:center;
}
.slider_position{
    margin-left: 27px;
  	margin-right: 20px;
}
/*
.dropdown:hover .dropdown-menu {
    display: block;
 }
 */

.HomePage_Cat_Content {
	width: 100%; 
	height:315px; 
	float:left;
	margin-right: 19px; 
	margin-left: 14px; 
	padding: 0px 0px;
	border:#F00 0px solid;
	color:#FFF;
	position:relative;
	cursor: pointer;
	  margin-top: 24px;
	  float: center;
}
.HomePage_Cat_Content:last-child {
	margin-right: 0px;
}

.HomePage_Cat_Content img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  
}

.HomePage_Cat_Content img.top:hover {
  opacity:0;
}

.HomePage_Cat_Content p {
	font-family: 'DINNextLTPro-Light',arial;
    font-size:15px;
	font-weight:normal;
    color:#808080;
	margin-top: 8px;
    line-height:20px;
	text-align: center; 
	direction:ltr;
	position:absolute;
	bottom: 0;
	margin:0px auto;
	width: 100%;
}
.HomePage_Cat_Content:hover p#dev {
    color:#00b2ef;
}
.HomePage_Cat_Content:hover p#hos {
    color:#f16817;
}
#footer{
	margin-left: 10px;
}


::-webkit-input-placeholder { /* WebKit browsers */
    color:    #70623D;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #70623D;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #70623D;
   opacity:  1;
}
.press_font{
	 font-family: 'DINNextLTPro-Light',arial;
	  font-size: 40px;
	  font-weight: lighter;
	  text-align: left;
	  direction: ltr;
	  color: #e9cc7e;
	  padding-bottom: 25px;
}
.sisban_dev{
	font-family: 'DINNextLTPro-Light',arial;
	  font-size: 30px;
	  font-weight: lighter;
	  text-align: left;
	  direction: ltr;
	  color: #e9cc7e;
	  padding-bottom: 25px;
	  padding-left: 10px;
}
/*
.navbar-nav>li>.dropdown-menu {
	margin-top: 15px;
}

.navbar-nav>li>.dropdown-menu, ul.dropdown-menu {
	border: 5px solid #7ed1e3;
	border-radius: 10px;
}
*/

/*
.dropdown-menu:before {
  position: absolute;
  top: -17px;
  left: 25%;
  display: inline-block;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #ccc;
  border-left: 12px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
*/
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #70623D;
}
.NavBar_Input_Search {
  width: 154px;
  height: 22px;
  line-height: 20px;
  text-align: left;
  direction: ltr;
  color: #cf9a2c;
  background: #ffffff;
  font-family: 'DINNextLTPro-Light',arial;
  font-size: 12px;
  margin: 0px 0px 0 0px;
  border: 0;
  float: left;
  padding: 0px 3px;
}
.NavBar_Input_Search_Bttn {
  width: 22px;
  height: 22px;
  float: right;
  margin: 0px 0px 0 0px;
}
.NavBar_Search {
  width: 180px;
  height: 24px;
  float: right;
  border: #F00 0px solid;
}
.navbar ul.nav >li >a:hover{
	color: #e9cc7e;
}
.navbar ul.nav >li >a{
	color: #FFFFFF;
}

/* slider css */
#slides {
  	display: none;
	padding-left: 25px;
	width: 98%;
}

#slides .slidesjs-navigation {
  margin-top:3px;
}

#slides .slidesjs-previous {
  margin-right: 5px;
  position:absolute;
  bottom: 5%;
  left:48%;	
  float: left;
}

#slides .slidesjs-next {
  margin-right: 5px;
  float: left;
  position:absolute;
  bottom: 5%;
  left:50%;
}

.slidesjs-pagination {
  margin: 6px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(../images/slider/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
  color: #333
}

#slides a:hover,
#slides a:active {
  color: #9e2020
}
.slidesjs-pagination{
	display: none;
}
/*
.navbar {
  overflow: hidden
}*/
.navbar2 ul.nav >li>a:hover{
	color: #006fb2;
}
/** Start Submenu **/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/** End Submenu **/
li.dropdown_f > ul.dropdown-menu,
li.dropdown_f > ul.dropdown-menu > li.dropdown-submenu > ul.dropdown-menu{
	background-color: #00b0f9;
} 	
.navbar2 ul.nav2>li.dropdown_f>ul.dropdown-menu>li>a,
.navbar2 ul.nav2>li.dropdown_f>ul.dropdown-menu>li.dropdown-submenu>ul.dropdown-menu>li>a{
	color: #FFFFFF;
} 
.navbar2 .nav2  li.dropdown ul.dropdown-menu > li > a:hover{
   background-color: #00b0f9;
}
/*

.line_top{
	padding:10px;
    border-top: 2px solid #70623d;
    margin-left: 25px;
    margin-right: 21px;
}



.gal_tittle
{
    font-size: 40px;
    font-family: Calibri;
    color: #70623d;
    padding-left: 37px;
}



#lightbox .modal-content {
    display: inline-block;
    text-align: center;   
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
    
    z-index:1032;
}
*/
div.p_border p{
	
    border-bottom: 1px solid #e9cc7e;
    border-top: 1px solid #e9cc7e;
    padding: 15px;
    font-family: "Century Gothic", arial;
	  font-size: 15px;
	  font-weight: normal;
	  color: #FFFFFF;
	  text-align: justify;
	  direction: ltr;
	  text-align: center;
	  margin-left: 3px;
 	  margin-right: 19px;
}
.col-centered{
		    float: none;
		    margin: 0 auto;
		}
.no-margin-top a h5{
	margin-top: 0;
}
.path-position{
	float: right; margin-right: 20px;
}
