li.dropdown > ul.dropdown-menu:after {
  position: absolute;
  top: -10px;
  left: 40%;
  display: inline-block;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #e9cc7e;
  border-left: 11px solid transparent;
  content: '';
}
li.dropdown_f > ul.dropdown-menu:after {
  position: absolute;
  top: -10px;
  left: 40%;
  display: inline-block;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #00b0f9;
  border-left: 11px solid transparent;
  content: '';
}
.navbar1 ul.nav >li >a:hover,.navbar1 ul.nav >li >a:focus{
	background-image: url('../images/shapo.png') ;
	background-repeat: no-repeat;
	background-position:12% 5%; 
	color: #e9cc7e;
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}